body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #CDF0DD;
}

.quem-somos {
    background-color: #6AB9FC;
    color:black
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #A36CE6;
}

.servicos  {
    background-color: #FC6A81;
}

.bg-footer {
    background-color: #FAA757;
    color: black;
}